<ion-view view-title="Wallboard" ng-controller="wallboardController" style="background-color: #f2f2f2;">

	<ion-nav-buttons side="left">
	
		<button ng-hide="fetching" class="button button-icon button-clear ion-ios-loop-strong" ng-click="fetch.queues();"></button>
			
    </ion-nav-buttons>

	<ion-nav-buttons side="right">
	
		<button class="button button-icon button-clear ion-arrow-expand" ng-click="fullscreen.toggle({element: '#wallboard_quques'});"></button>
		
		<button ng-if="!slider.instance.autoplaying" class="button button-icon button-clear ion-play" ng-click="play();"></button>
	
		<button ng-if="slider.instance.autoplaying" class="button button-icon button-clear ion-pause" ng-click="pause();"></button>
		
    </ion-nav-buttons>

	<input type="hidden" value="{{settings = session.applets['YXBwbGV0OndhbGxib2FyZA=='];}}" />
	
    <ion-content>
	    
    	<ion-refresher pulling-text="Pull to refresh..." on-refresh="fetch.queues();"></ion-refresher>
    	
    	<style>
	    	
	    	[data-fullscreen="true"] #wallboard_quques {
		    	pointer-events: none;
	    	}
	    	
	    	#wallboard_quques .swiper-container-horizontal > .swiper-pagination {
		    	bottom: 14px;
	    	}
	    	
	    	#wallboard_quques .time {
		    	color: #ffffff;
	    	}
	    	
	    	#wallboard_quques .gmt-info {
			    font-size: 15px;
			    height: 20px;
			    line-height: 20px;
			}
			
			#wallboard_quques svg#Layer_1,
			#wallboard_quques svg#circish {
				width: 100% !important;
				height: 100% !important;
			}
			
			#wallboard_quques .st2{font-family: sans-serif;}
			#wallboard_quques .st3{font-size:190px;}
			#wallboard_quques .st4{font-family: sans-serif;}
			#wallboard_quques .st5{font-size:55px;}
			
			#wallboard_quques .background-warning {
				background-color: #FF9800 !important;
			}
			
			#wallboard_quques .background-danger {
				background-color: #F44336 !important;
			}
			
			#wallboard_quques ion-spinner svg {
				width: 100%;
				height: 100%;
			}
			    	
	    </style>
	    
		<style type="text/css">
			
			#wallboard_quques .st0,
			#wallboard_quques .st1,
			#wallboard_quques .st0a,
			#wallboard_quques .st1a,
			#wallboard_quques .st2a,
			#wallboard_quques .st3a,
			#wallboard_quques .st4a {
				font-family: sans-serif;
			}
			
			#wallboard_quques .st0,
			#wallboard_quques .st0a {
				fill: #909090;
			}
			
			#wallboard_quques .st1 {
				fill: #FFFFFF;
			}
			
			#wallboard_quques .st2a {
				font-size:130px;
			}
			
			#wallboard_quques .st4a {
				font-size:50px;
			}
			
			#wallboard_quques .background-warning .st0,
			#wallboard_quques .background-danger .st0 {
				fill: #ffffff;
			}
			
			#wallboard_quques .background-warning .st1 {
				fill: #FF9800;
			}
			
			#wallboard_quques .background-danger .st1 {
				fill: #F44336;
			}

			#wallboard_quques [ng-repeat*="agent"][data-state="Sign-Out"] .st0 {
				fill: #673ab7;
			}

			#wallboard_quques [ng-repeat*="agent"][data-state="Available"] .st0 {
				fill: #4caf50;
			}

			#wallboard_quques [ng-repeat*="agent"][data-state="Unavailable"] .st0 {
				fill: #f44336;
			}

			#wallboard_quques [ng-repeat*="agent"][data-state="Wrap-Up"] .st0 {
				fill: #ff9800;
			}

		</style>
    	    	
    	<ion-slides id="wallboard_quques" slider="slider.instance" options="{
    		effect: (settings.effect || 'slide'),
    		autoplay: (settings.speed || 7000),
    		speed: 700,
    		grabCursor: true,
    		shortSwipes: true
    	}" style="height: 100vh; min-width: 1200px;">
    	
    		<ion-slide-page ng-if="!queues.length || fetching">
    			<div class="row row-center" style="height: 100%;">
	    			<div class="col" style="text-align: center;">
			    			
		    			<div style="max-width: 420px; margin: auto;">
			    			<img style="max-width: 120px; max-height: 120px;" src="{{applets.loaded['applet:wallboard']['logo.svg'].src}}" />
		    			</div>
		    			
		    			<div ng-if="!fetched || fetching" style="width: 200px; height: 200px; margin: auto;">
			    			<ion-spinner icon="dots"></ion-spinner>
		    			</div>
		    			
		    			<div ng-if="fetched && !fetching" style="max-width: 420px; margin: auto;">
			    			
			    			<h1>Yikes!</h1>
			    			
			    			<p>
				    			<b>We're unable to pull your queues.</b>
			    			</p>
			    			
			    			<p>You must be assigned as a Call Center Supervisor to a queue in order for it to populate your Wallboard. Please contact your Service Provider for support.</p>
		    						    			
		    			</div>

	    			</div>
    			</div>
    		</ion-slide-page>
    	
			<ion-slide-page ng-repeat="(key, queue) in queues" style="padding-bottom: 43px; overflow: hidden; background-color: #f2f2f2;">
				
				<input type="hidden" value="{{queue_news = news[queue.serviceUserID];}}" />
				<input type="hidden" value="{{monitoringStatus = queue_news['monitoringStatus'];}}" />
				<input type="hidden" value="{{statistics = queue_news['statistics'];}}" />
			
				<div class="row row-center" style="text-align: center; height: 33.33%; padding: 0; margin: auto;">
					
					<!-- LOGO & DETAILS -->
					<div class="col col-50" style="height: 100%;">
						<div style="background-color: #ffffff; height: 100%; width: 100%; position: relative; overflow: hidden;">

							<div class="row row-center" style="height: 100%;">
								<div class="col">
									
									<h1 class="hideOverflow" style="font-size: 60px;">
										
										<a href="#" editable-text="settings.queues[queue.key].title" style="border: none; color: #8B8E8E; font-style: inherit;" buttons="no" ng-click="pause({lock: true});">
											<span>{{settings.queues[queue.key].title || queue.ACDProfile.serviceInstanceProfile.name || queue.serviceUserID.split('@')[0]}}</span>
										</a>

									</h1>
									
									<h3 ng-if="!settings.hide.phoneNumber" class="hideOverflow" style="font-size: 32px;">{{PhoneFormat.formatNumberForMobileDialing('US', (queue.ACDProfile.serviceInstanceProfile.phoneNumber || queue.ACDProfile.serviceInstanceProfile.extension));}}</h3>
									
									<p ng-if="!settings.hide.timeZone" class="hideOverflow">{{queue.ACDProfile.serviceInstanceProfile.timeZoneDisplayName}}</p>
									
									<p ng-if="queue_news.timestamp">Refreshed <b>{{queue_news.timestamp | timeAgo:'MM/dd/yyyy'}}</b>.</p>
									
								</div>
							</div>

						</div>
					</div>

					<!-- LOGO -->
					<div class="col" style="height: 100%;">
						<div style="background-color: #ffffff; height: 100%; width: 100%; position: relative; overflow: hidden;" ng-flippant ng-click="pause({lock: true});">
							
							<div class="front row row-center" style="height: 100%;">
								<div class="col">
									
									<input type="hidden" value="{{logo = settings.queues[queue.key].logo || session.provider.profile.logo;}}" />
									
									<img ng-if="!settings.hide.logo && logo" src="{{logo}}" width="100%" style="max-width: 240px; max-height: 200px;" />
									
								</div>
							</div>
							
							<div class="back">
								
								<a class="close ion-close-circled" style="font-size: 20px; padding: 10px; margin-bottom: 10px; display: inline-block;" ng-click="play();" href></a>
								
								<div class="list" style="text-align: left;">
									
									<div class="item item-divider">Branding</div>
									
									<label class="item item-input">
										<span class="input-label">Logo</span>
										<input type="text" ng-model="settings.queues[queue.key].logo" placeholder="https://mywebsite.com/logo..">
									</label>
									
									<label class="item item-input">
										<span class="input-label">Color</span>
										<table>
											<tr>
												<td width="100" valign="middle"><input type="text" ng-model="settings.queues[queue.key].color" placeholder="#336699"></td>
												<td width="50" valign="middle"><input type="color" ng-model="settings.queues[queue.key].color"></td>
											</tr>
										</table>
									</label>
		
								</div>
								
							</div>							
							
						</div>
					</div>
					
					<!-- CLOCK -->
					<div class="col" style="height: 100%;">
						<div style="background-color: #909090; height: 100%; width: 100%; position: relative; overflow: hidden;" ng-flippant ng-click="pause({lock: true});" dng-style="{'background-color': colors[key] ? colors[key] : '#909090'}">
							
							<div class="front row row-center" style="height: 100%;">
								<div ng-if="queue.ACDProfile.serviceInstanceProfile" class="col">
									
									<input type="hidden" value="{{timeZone = settings.queues[queue.key].clock.timeZone;}}" />
									<input type="hidden" value="{{time = offset(timeZone ? timeZone : queue.ACDProfile.serviceInstanceProfile.timeZone);}}" />

									<div ng-if="!settings.hide.date && settings.queues[queue.key].clock.format == 'analog'" style="width: 220px; height: 220px; margin: auto;">
										<ds-widget-clock theme="settings.queues[queue.key].clock.theme || 'light'" show-analog gmt-offset="time.offset" start-time="time.startTime" show-gmt-info></ds-widget-clock>
									</div>
									
									<div ng-if="settings.queues[queue.key].clock.format != 'analog'" style="text-align: center;">
										
										<ds-widget-clock ng-if="!settings.hide.time" show-digital theme="settings.queues[queue.key].clock.theme || 'light'" digital-format="'h:mm:ss a'" style="font-size: 22px; margin-bottom: 20px; display: block; line-height: 45px;" gmt-offset="time.offset" start-time="time.startTime" show-gmt-info></ds-widget-clock>

										<ds-widget-clock ng-if="!settings.hide.date" show-digital theme="settings.queues[queue.key].clock.theme || 'light'" digital-format="'EEEE, MMMM d, yyyy'" style="line-height: 30px; display: block; max-width: 320px; margin: auto; font-size: 12px;" gmt-offset="time.offset" start-time="time.startTime"></ds-widget-clock>
										
									</div>
									
								</div>
							</div>
							
							<div class="back">
								
								<a class="close ion-close-circled" style="font-size: 20px; padding: 10px; margin-bottom: 10px; display: inline-block;" ng-click="play();" href></a>
								
								<div class="list" style="text-align: left;">
									
									<div class="item item-divider">Clock</div>
									
									<label class="item item-input item-select">										
										<div class="input-label">Format</div>										
										<select ng-model="settings.queues[queue.key].clock.format">
											<option value="analog">Analog</option>
											<option value="">Digital</option>
										</select>									
									</label>
									
									<label class="item item-input item-select">										
										<div class="input-label">Theme</div>	
										<select ng-model="settings.queues[queue.key].clock.theme">
											<option value="">Light</option>
											<option value="dark">Dark</option>
										</select>								
									</label>
									
									<label class="item">																		
										<div class="input-label">Time Zone</div>
										<select ui-select2 ng-model="settings.queues[queue.key].clock.timeZone" style="width: 100%;">
										    <option ng-repeat="timezone in timezones" value="{{timezone.value}}">{{timezone.label}}</option>
										</select>							
									</label>
		
								</div>
								
							</div>	
							
						</div>
					</div>

				</div>
			
				<div ng-if="slider.show == 'agents' && queue.agentList.userDetails.length" class="row row-center" style="text-align: center; height: 66.66%; padding: 0; margin: auto;">
					
					<div class="col" style="height: 100%;">
						<div style="background-color: rgba(255,255,255,.5); height: 100%; width: 100%; position: relative; overflow: hidden;">
							<div class="row row-center" style="height: 100%;">
								<div class="col">
									
									<input type="hidden" value="{{size = 400;}}" />
									<input type="hidden" value="{{queue.agentList.userDetails.length > 3 ? size = 300 : null;}}" />
									<input type="hidden" value="{{queue.agentList.userDetails.length > 10 ? size = 220 : null;}}" />
									<input type="hidden" value="{{queue.agentList.userDetails.length > 20 ? size = 140 : null;}}" />

									<div ng-repeat="agent in queue.agentList.userDetails" style="display: inline-block; vertical-align: middle; height: {{size}}px; width: {{size}}px; margin: 1%;" data-state="{{agent.CallCenter.agentACDState}}">

										<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
											 viewBox="0 0 600 600" style="enable-background:new 0 0 600 600;" xml:space="preserve">
											 
											<circle class="st0" cx="300" cy="250" r="160" />
											
											<text transform="matrix(1 0 0 1 300 265)" style="font-size: 45px; font-family: sans-serif; fill: #ffffff;" text-anchor="middle">{{agent.CallCenter.agentACDState}}</text>
											
											<text ng-if="agent.CallCenter.agentUnavailableCode" transform="matrix(1 0 0 1 300 310)" style="font-size: 35px; font-family: sans-serif; fill: #ffffff;" text-anchor="middle">"{{agent.CallCenter.agentUnavailableCode}}"</text>
											
											<text transform="matrix(1 0 0 1 300 510)" style="font-size: 70px; font-family: sans-serif;" text-anchor="middle">{{agent.firstName}}</text>
											
											<text transform="matrix(1 0 0 1 300 580)" style="font-size: 55px; font-family: sans-serif;" text-anchor="middle">{{agent.lastName}}</text>
											
										</svg>

									</div>

								</div>
							</div>
						</div>
					</div>
					
				</div>
			
				<div ng-if="slider.show == 'statistics' || !queue.agentList.userDetails.length" class="row row-center" style="text-align: center; height: 33.33%; padding: 0; margin: auto;">
					
					<!-- ANSWERED -->
					<div class="col" style="height: 100%;">
						<div style="background-color: rgba(255,255,255,.5); height: 100%; width: 100%; position: relative; overflow: hidden;">
							
							<div ng-if="!settings.hide.numberOfCallsAnswered" class="row row-center" style="height: 100%;">
								<div class="col" style="height: 100%; padding: 20px;">

									<svg version="1.0" id="circish" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										 viewBox="50.2 169.7 389.6 321.4" style="enable-background:new 50.2 169.7 389.6 321.4; max-width: 260px;" xml:space="preserve">
										<text id="XMLID_15_" text-anchor="middle" transform="matrix(1 0 0 1 250 332.7354)" class="st0a st1a st2a">{{statistics.ACDCallAnsweredByAgentEvent || 0 | number}}</text>
										<text transform="matrix(1 0 0 1 70 447)" class="st0a st3a st4a">Calls Answered</text>
									</svg>
									
								</div>
							</div>
							
						</div>
					</div>
					
					<!-- ABANDONED -->
					<div class="col" style="height: 100%;">
						<div style="background-color: rgba(255,255,255,.5); height: 100%; width: 100%; position: relative; overflow: hidden;">
							
							<div ng-if="!settings.hide.numberOfCallsAbandoned" class="row row-center" style="height: 100%;">
								<div class="col" style="padding: 20px; height: 100%;">

									<svg version="1.0" id="circish" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										 viewBox="50.2 169.7 389.6 321.4" style="enable-background:new 50.2 169.7 389.6 321.4; max-width: 260px;" xml:space="preserve">
										<text id="XMLID_15_" transform="matrix(1 0 0 1 250 332.7354)" text-anchor="middle" class="st0a st1a st2a">{{statistics.ACDCallAbandonedEvent || 0 | number}}</text>
										<text transform="matrix(1 0 0 1 55 447)" class="st0a st3a st4a">Calls Abandoned</text>
									</svg>
									
								</div>
							</div>
							
						</div>
					</div>

					<!-- AVG. WAIT TIME -->
					<div class="col" style="height: 100%;">
									
						<input type="hidden" value="{{expectedWaitTime = monitoringStatus.expectedWaitTime.value || monitoringStatus.expectedWaitTime;}}" />
						<input type="hidden" value="{{thresholds = settings.queues[queue.key].expectedWaitTime;}}" />
									
						<div style="background-color: rgba(255,255,255,.5); height: 100%; width: 100%; position: relative; overflow: hidden;" ng-flippant ng-click="pause({lock: true});" ng-class="{'background-warning': expectedWaitTime / 1000 >= thresholds.warning, 'background-danger': expectedWaitTime / 1000 >= thresholds.danger}">
							
							<div class="front row row-center" style="height: 100%;">
								<div class="col" style="height: 100%; padding: 30px;">

									<svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										 viewBox="-18 19.9 562 669.5" style="enable-background:new -18 19.9 562 669.5;" xml:space="preserve">
										<circle id="XMLID_1_" class="st0" cx="263" cy="300.9" r="281"/>
										<text id="XMLID_15_" transform="matrix(1 0 0 1 265 367.2354)" class="st1 st2 st3" text-anchor="middle">{{!expectedWaitTime ? '00:00' : expectedWaitTime | date: 'mm:ss': 'UTC'}}</text>
										<text transform="matrix(1 0 0 1 153.9926 671.9)" class="st0 st4 st5">Avg. Wait</text>
									</svg>

								</div>
							</div>
							
							<div class="back">
								
								<a class="close ion-close-circled" style="font-size: 20px; padding: 10px; margin-bottom: 10px; display: inline-block;" ng-click="play();" href></a>
								
								<div class="list" style="text-align: left;">
									
									<div class="item item-divider">Avg. Wait</div>
									
									<label class="item item-input">
										<span class="input-label"><i class="ion-paintbucket" style="color: #FF9800;"></i>&nbsp;&nbsp;Warning</span>
										<input type="number" ng-model="settings.queues[queue.key].expectedWaitTime.warning" placeholder="1">
									</label>
									
									<label class="item item-input">
										<span class="input-label"><i class="ion-paintbucket" style="color: #F44336;"></i>&nbsp;&nbsp;Danger</span>
										<input type="number" ng-model="settings.queues[queue.key].expectedWaitTime.danger" placeholder="2">
									</label>
									
									<p style="margin: auto; margin-top: 10px;">
										<i class="ion-information-circled"></i>
										<span>item</span>
										<b>is greater than</b>
										<span>x (seconds)</span>
									</p>
		
								</div>
								
							</div>
							
						</div>
						
					</div>
					
					<!-- LONGEST WAIT TIME -->
					<div class="col" style="height: 100%;">
						
						<input type="hidden" value="{{longestWaitTime = monitoringStatus.longestWaitTime.value || monitoringStatus.longestWaitTime;}}" />
						<input type="hidden" value="{{thresholds = settings.queues[queue.key].longestWaitTime;}}" />

						<div style="background-color: rgba(255,255,255,.5); height: 100%; width: 100%; position: relative; overflow: hidden;" ng-flippant ng-click="pause({lock: true});" ng-class="{'background-warning': longestWaitTime / 1000 >= thresholds.warning, 'background-danger': longestWaitTime / 1000 >= thresholds.danger}">

							<div class="front row row-center" style="height: 100%;">
								<div class="col" style="height: 100%; padding: 30px;">
									
									<svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										 viewBox="-18 19.9 562 669.5" style="enable-background:new -18 19.9 562 669.5;" xml:space="preserve">
										<circle id="XMLID_1_" class="st0" cx="263" cy="300.9" r="281"/>
										<text id="XMLID_15_" transform="matrix(1 0 0 1 265 367.2354)" class="st1 st2 st3" text-anchor="middle">{{!longestWaitTime ? '00:00' : longestWaitTime | date: 'mm:ss': 'UTC'}}</text>
										<text transform="matrix(1 0 0 1 112.6327 671.9)" class="st0 st4 st5">Longest Wait</text>
									</svg>

								</div>
							</div>
							
							<div class="back">
								
								<a class="close ion-close-circled" style="font-size: 20px; padding: 10px; margin-bottom: 10px; display: inline-block;" ng-click="play();" href></a>
								
								<div class="list" style="text-align: left;">
									
									<div class="item item-divider">Longest Wait</div>
									
									<label class="item item-input">
										<span class="input-label"><i class="ion-paintbucket" style="color: #FF9800;"></i>&nbsp;&nbsp;Warning</span>
										<input type="number" ng-model="settings.queues[queue.key].longestWaitTime.warning" placeholder="1">
									</label>
									
									<label class="item item-input">
										<span class="input-label"><i class="ion-paintbucket" style="color: #F44336;"></i>&nbsp;&nbsp;Danger</span>
										<input type="number" ng-model="settings.queues[queue.key].longestWaitTime.danger" placeholder="2">
									</label>
									
									<p style="margin: auto; margin-top: 10px;">
										<i class="ion-information-circled"></i>
										<span>item</span>
										<b>is greater than</b>
										<span>x (seconds)</span>
									</p>
		
								</div>
								
							</div>
							
						</div>
						
					</div>

				</div>
				
				<div ng-if="slider.show == 'statistics' || !queue.agentList.userDetails.length" class="row row-center" style="text-align: center; height: 33.33%; padding: 0; margin: auto;">
					
					<!-- % AGENTS UNAVAILABLE -->
					<div class="col" style="height: 100%;">
						<div style="background-color: rgba(255,255,255,.5); height: 100%; width: 100%; position: relative; overflow: hidden;">
							
							<div class="row row-center" style="height: 100%;">
								<div class="col" style="height: 100%; padding: 30px;">
							
									<div ng-if="monitoringStatus.numAgentsStaffed > 0" justgage
										title="Agents Unavailable"
										value="{{monitoringStatus.numAgentsStaffed - monitoringStatus.numStaffedAgentsIdle || 0}}"
										max="{{monitoringStatus.numAgentsStaffed || 0}}"
										hide-inner-shadow="true"
										value-font-color="#8B8E8E"
										text-renderer="textRenderer"
										style="height: 100%; width: 100%;"
									></div>
									
									<div ng-if="!monitoringStatus.numAgentsStaffed || monitoringStatus.numAgentsStaffed == 0" class="row row-center" style="height: 100%;">
										<div class="col" style="text-align: center;">
											
											<div ng-if="monitoringStatus.numAgentsStaffed">
												<i class="ion-alert-circled" style="font-size: 82px; color: #F44336;"></i>
												<h1 style="margin: auto;">UNSTAFFED</h1>
											</div>
											
											<div ng-if="!monitoringStatus.numAgentsStaffed">
												<i class="ion-archive" style="font-size: 82px; color: #336699;"></i>
												<h1 style="margin: auto;">Waiting...</h1>
											</div>
											
										</div>
									</div>
								         
								</div>
							</div>

						</div>
					</div>
					
					<!-- QUEUED -->
					<div class="col" style="height: 100%;">
						<div style="background-color: rgba(255,255,255,.5); height: 100%; width: 100%; position: relative; overflow: hidden;" ng-flippant ng-click="pause({lock: true});">
							
							<div class="front row row-center" style="height: 100%;">
								<div class="col" style="height: 100%; padding: 30px;">
									
									<div justgage
										title="Queued"
										value="{{monitoringStatus.numCallsInQueue.value || 0}}"
										max="{{settings.queues[queue.key].numCallsInQueue || 10}}"
										hide-inner-shadow="true"
										value-font-color="#8B8E8E"
										text-renderer="textRenderer"
										style="height: 100%; width: 100%;"
									></div>
									
								</div>
							</div>
							
							<div class="back">
								
								<a class="close ion-close-circled" style="font-size: 20px; padding: 10px; margin-bottom: 10px; display: inline-block;" ng-click="play();" href></a>
								
								<div class="list" style="text-align: left;">
									
									<div class="item item-divider">Queued</div>
									
									<label class="item item-input">
										<span class="input-label">Max</span>
										<input type="number" ng-model="settings.queues[queue.key].numCallsInQueue" placeholder="10">
									</label>
		
								</div>
								
							</div>

						</div>
					</div>
					
					<!-- AVG. HANDLING TIME -->
					<div class="col" style="height: 100%;">

						<input type="hidden" value="{{averageHandlingTime = monitoringStatus.averageHandlingTime.value || monitoringStatus.averageHandlingTime;}}" />
						<input type="hidden" value="{{thresholds = settings.queues[queue.key].averageHandlingTime;}}" />
									
						<div style="background-color: rgba(255,255,255,.5); height: 100%; width: 100%; position: relative; overflow: hidden;" ng-flippant ng-click="pause({lock: true});" ng-class="{'background-warning': averageHandlingTime / 1000 >= thresholds.warning, 'background-danger': averageHandlingTime / 1000 >= thresholds.danger}">

							<div class="front row row-center" style="height: 100%;">
								<div class="col" style="height: 100%; padding: 30px;">
									
									<svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										 viewBox="-18 19.9 562 669.5" style="enable-background:new -18 19.9 562 669.5;" xml:space="preserve">
										<circle id="XMLID_1_" class="st0" cx="263" cy="300.9" r="281"/>
										<text id="XMLID_15_" transform="matrix(1 0 0 1 265 367.2354)" class="st1 st2 st3" text-anchor="middle">{{!averageHandlingTime ? '00:00' : averageHandlingTime | date: 'mm:ss': 'UTC'}}</text>
										<text transform="matrix(1 0 0 1 37.889 671.9)" class="st0 st4 st5">Avg. Handling Time</text>
									</svg>

								</div>
							</div>
							
							<div class="back">
								
								<a class="close ion-close-circled" style="font-size: 20px; padding: 10px; margin-bottom: 10px; display: inline-block;" ng-click="play();" href></a>
								
								<div class="list" style="text-align: left;">
									
									<div class="item item-divider">Avg. Handling Time</div>
									
									<label class="item item-input">
										<span class="input-label"><i class="ion-paintbucket" style="color: #FF9800;"></i>&nbsp;&nbsp;Warning</span>
										<input type="number" ng-model="settings.queues[queue.key].averageHandlingTime.warning" placeholder="1">
									</label>
									
									<label class="item item-input">
										<span class="input-label"><i class="ion-paintbucket" style="color: #F44336;"></i>&nbsp;&nbsp;Danger</span>
										<input type="number" ng-model="settings.queues[queue.key].averageHandlingTime.danger" placeholder="2">
									</label>
									
									<p style="margin: auto; margin-top: 10px;">
										<i class="ion-information-circled"></i>
										<span>item</span>
										<b>is greater than</b>
										<span>x (seconds)</span>
									</p>
		
								</div>
								
							</div>
							
						</div>
						
					</div>
					
					<!-- AVG. SPEED OF ANSWER -->
					<div class="col" style="height: 100%;">

						<input type="hidden" value="{{averageSpeedOfAnswer = monitoringStatus.averageSpeedOfAnswer.value || monitoringStatus.averageSpeedOfAnswer;}}" />
						<input type="hidden" value="{{thresholds = settings.queues[queue.key].averageSpeedOfAnswer;}}" />
									
						<div style="background-color: rgba(255,255,255,.5); height: 100%; width: 100%; position: relative; overflow: hidden;" ng-flippant ng-click="pause({lock: true});" ng-class="{'background-warning': averageSpeedOfAnswer / 1000 >= thresholds.warning, 'background-danger': averageSpeedOfAnswer / 1000 >= thresholds.danger}">
							
							<div class="front row row-center" style="height: 100%;">
								<div class="col" style="height: 100%; padding: 30px;">
									
									<svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										 viewBox="-18 19.9 562 669.5" style="enable-background:new -18 19.9 562 669.5;" xml:space="preserve">
										<circle id="XMLID_1_" class="st0" cx="263" cy="300.9" r="281"/>
										<text id="XMLID_15_" transform="matrix(1 0 0 1 265 367.2354)" class="st1 st2 st3" text-anchor="middle">{{!averageSpeedOfAnswer ? '00:00' : averageSpeedOfAnswer | date: 'mm:ss': 'UTC'}}</text>
										<text transform="matrix(1 0 0 1 13.0018 671.9)" class="st0 st4 st5">Avg. Speed of Answer</text>
									</svg>

								</div>
							</div>
							
							<div class="back">
								
								<a class="close ion-close-circled" style="font-size: 20px; padding: 10px; margin-bottom: 10px; display: inline-block;" ng-click="play();" href></a>
								
								<div class="list" style="text-align: left;">
									
									<div class="item item-divider">Avg. Speed of Answer</div>
									
									<label class="item item-input">
										<span class="input-label"><i class="ion-paintbucket" style="color: #FF9800;"></i>&nbsp;&nbsp;Warning</span>
										<input type="number" ng-model="settings.queues[queue.key].averageSpeedOfAnswer.warning" placeholder="1">
									</label>
									
									<label class="item item-input">
										<span class="input-label"><i class="ion-paintbucket" style="color: #F44336;"></i>&nbsp;&nbsp;Danger</span>
										<input type="number" ng-model="settings.queues[queue.key].averageSpeedOfAnswer.danger" placeholder="2">
									</label>
									
									<p style="margin: auto; margin-top: 10px;">
										<i class="ion-information-circled"></i>
										<span>item</span>
										<b>is greater than</b>
										<span>x (seconds)</span>
									</p>
		
								</div>
								
							</div>
							
						</div>
						
					</div>
					
				</div>
				
			</ion-slide-page>
    	
    	</ion-slides> 	

    </ion-content>
    
</ion-view>