<ion-list>
	
	<div class="item item-divider">Slideshow</div>
	
	<label class="item item-input item-select">
	
		<div class="input-label">Speed</div>
		
		<select ng-model="applets.configuring.settings.speed">
			<option value="3000">3s</option>
			<option value="5000">5s</option>
			<option value="">7s</option>
			<option value="15000">15s</option>
		</select>
	   
	</label>
	
	<label class="item item-input item-select">
		
		<div class="input-label">Transition</div>
		
		<select ng-model="applets.configuring.settings.effect">
			<option value="">Slide</option>
			<option value="fade">Fade</option>
			<option value="cube">Cube</option>
			<option value="coverflow">Coverflow</option>
		</select>
		
	</label>
	
	<label class="item item-input item-select">
	
		<div class="input-label">Completely Reload</div>
		
		<select ng-model="applets.configuring.settings.reload">
			<option value="1">Every Hour</option>
			<option value="6">3h</option>
			<option value="12">12h</option>
			<option value="">Daily</option>
		</select>
	   
	</label>
	
	<div class="item item-divider">Show</div>
	
	<label>
		<ion-toggle ng-model="applets.configuring.settings.show.zeros" toggle-class="toggle-calm">
			<span>Zeros</span>
			<p>Allow values equal to 0.</p>
		</ion-toggle>
	</label>
	
	<div class="item item-divider">Hide</div>
	
	<label>
		<ion-toggle ng-model="applets.configuring.settings.hide.numberOfCallsAbandoned" toggle-class="toggle-calm">
			<span>Calls Abandoned</span>
		</ion-toggle>
	</label>
	
	<label>
		<ion-toggle ng-model="applets.configuring.settings.hide.numberOfCallsAnswered" toggle-class="toggle-calm">
			<span>Calls Answered (today)</span>
		</ion-toggle>
	</label>
	
	<label>
		<ion-toggle ng-model="applets.configuring.settings.hide.phoneNumber" toggle-class="toggle-calm">
			<span>Queue Phone #</span>
		</ion-toggle>
	</label>
	
	<label>
		<ion-toggle ng-model="applets.configuring.settings.hide.logo" toggle-class="toggle-calm">
			<span>Logo</span>
		</ion-toggle>
	</label>
	
	<label>
		<ion-toggle ng-model="applets.configuring.settings.hide.date" toggle-class="toggle-calm">
			<span>Date</span>
		</ion-toggle>
	</label>
	
	<label>
		<ion-toggle ng-model="applets.configuring.settings.hide.time" toggle-class="toggle-calm">
			<span>Time</span>
		</ion-toggle>
	</label>
	
	<label>
		<ion-toggle ng-model="applets.configuring.settings.hide.timeZone" toggle-class="toggle-calm">
			<span>Time Zone</span>
		</ion-toggle>
	</label>

</ion-list>