<ion-view view-title="Auto Dialer" ng-controller="autoCtrl" ngf-drop="dropped($files)" ngf-multiple="false">
	
	<ion-nav-buttons side="left">
	
		<button
		class="button button-icon button-clear ion-refresh"
		ng-click="reset();"
		ng-if="!current.active"></button>
		
    </ion-nav-buttons>
	
	<ion-nav-buttons side="right">
	
		<button
		class="button button-icon button-clear ion-play"
		ng-click="start();"
		ng-if="!current.active"></button>
		<button
		class="button button-icon button-clear ion-stop"
		ng-click="stop();"
		ng-if="current.active"></button>
		
    </ion-nav-buttons>
    
	<ion-header-bar class="bar-subheader bar bar-header" style="background-color: #0099E4;">
		<div class="row" style="padding: 2px;">
			<div class="col col-50" ngf-select="dropped($files)">
				<span style="color: #fff;">{{ current.list.length || 'Load File' }}</span>
			</div>
			<div class="col" ng-click="changeGap();">
				<span style="color: #fff;"> {{ current.selected / 1000 }} Seconds </span>
			</div>
		</div>
	</ion-header-bar>
    
    <ion-content style="background-image: url({{ current.list.length ? '' : 'http://cdn.bluip.io/autodialer.svg' }}); background-size: 80%; background-repeat: no-repeat; background-position: center center;">
    
    	<div class="row" ng-if="!current.list.length" style="height: 100%;">
	    	
	    	<div class="col" style="text-align: center;">
	    	</div>
	    	
    	</div>
    
    	<ion-list ng-if="current.list.length">
    	
    		<ion-item ng-repeat="(key, item) in current.list" ng-class="{'active': item.active}">
    		
    			<div class="row">
	    			
	    			<div class="col hideOverflow">{{item.call ? item.call.state : 'Uncalled'}}</div>
	    			
	    			<div class="col hideOverflow">{{item.Name}}</div>
	    			
    			</div>
    			
    		</ion-item>

    	</ion-list>    
		
    </ion-content>
    
</ion-view>