<ion-view view-title="My Call Center" ng-controller="agentController">
	
	<ion-nav-buttons side="right">
		
		<ion-spinner ng-if="current.fetching" icon="crescent"></ion-spinner>
	
		<button ng-disabled="current.fetching" class="button button-icon button-clear ion-android-refresh" ng-click="acd.get();"></button>
		
    </ion-nav-buttons>
	
    <ion-content>
    
    	<div ng-if="current.status != 200" style="padding: 15px;">
	    	
	    	<div ng-if="!current.status">
		    	<h1>Fetching.. please wait.</h1>
	    	</div>
	    	
	    	<div ng-if="current.status">
		    	<h1>Error {{current.status}}</h1>
		    	<p>{{current.data.ErrorInfo.summary}}.</p>
	    	</div>
	    	
    	</div>
    	
		<ion-list ng-if="current.status == 200">
			
			<ion-refresher pulling-text="Pull to refresh..." on-refresh="acd.get();"></ion-refresher>
			
			<div class="item item-divider">
				<span>Agent Status</span>
				<span ng-if="current.fetching">(Please Wait)</span>
			</div>
			
			<ion-item ng-click="acd.set({agentACDState: 'Sign-In'});" ng-class="{
				'active': current.data.CallCenter.agentACDState == 'Sign-In'
			}">Sign-In</ion-item>
			
			<ion-item ng-click="acd.set({agentACDState: 'Sign-Out'});" ng-class="{
				'active': current.data.CallCenter.agentACDState == 'Sign-Out'
			}">Sign-Out</ion-item>
			
			<ion-item ng-click="acd.set({agentACDState: 'Available'});" ng-class="{
				'active': current.data.CallCenter.agentACDState == 'Available'
			}">Available</ion-item>


			<ion-item class="item-select" ng-click="acd.set({agentACDState: 'Unavailable'});" ng-class="{
				'active': current.data.CallCenter.agentACDState == 'Unavailable'
			}">
			
				<div class="input-label">Unavailable</div>
				
			    <select
				    ng-click="preventDefault($event);"
				    ng-if="current.data.ACDAgentUnavailableCodes.unavailableCodes.unavailableCodeDetail"
			    	ng-options="o.code as o.description for o in current.data.ACDAgentUnavailableCodes.unavailableCodes.unavailableCodeDetail"
			    	ng-model="agentUnavailableCode"
				    ng-change="acd.set({agentACDState: 'Unavailable', agentUnavailableCode: agentUnavailableCode});"
				    style="border-radius: 0; background-color: transparent;"
				></select>
			   
			</ion-item>
			
			<ion-item ng-click="acd.set({agentACDState: 'Wrap-Up'});" ng-class="{
				'active': current.data.CallCenter.agentACDState == 'Wrap-Up'
			}">Wrap-Up</ion-item>
			
		</ion-list>
		
    </ion-content>
    
</ion-view>